doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/stylesheets/common.css")
    script(src="https://kit.fontawesome.com/402953eeba.js", crossorigin="anonymous")
  body
    .header
      #{contents}
    block content